*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    
}

#title{
    color:yellowgreen;
  
    font-size: 50px;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative; */
    display: block;
    text-align: center;
}
.menu {
    width: 100%;
    height: 120px;
    background-color: #006600;
    
}
.up {
    width: 100%;
    margin: 0px auto;
}
.up ul {
    list-style: none;
}
.up ul li{
    float: left;
    padding: 10px;
}
.up ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #802b00;
    background-color: #009900 ;
}
.up ul li  img{
    width: 100px;
    padding: 5px;
}
.item{
    margin: 5px ;
    border: 1px solid #006600;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0px 0px 2px 0px red;
    cursor: pointer ;
    display: inline-block;
}
.item:hover {
    box-shadow: 0px 0px 10px 5px red
}
.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.type {
    display: none;
}
.name {
    font-size: 38px;
    text-align: left;
    margin-bottom: 2px;
    padding: 0px 10px;
    color:#000033;
}
.price{
    color: red;
    font-size: 30px;
    padding: 0px 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}


/* body {
    width: 100%;
    min-height: 100vh;
    background: url(img/anmthuc.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} */












/* .container {
   
    margin: 0px auto;
    border: 1px solid green;
    border-radius: 10px;
    text-align: justify; 
    
}


.header{
    margin-bottom: 2px;
    background-color: lightsteelblue;
    padding: 20px 40px;
   
    border-bottom: 1px solid burlywood;
}
.header h2 {
    margin: 0;
    color: green;
    font-size: 60px;
}
.form-total {
    padding: 10px 20px;
}
.form {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form label {
    display: inline-block;
    margin-bottom: 5px;
}
.form input {
    border: 1px solid grey;
    border-radius: 5px;
    display: block;
    width: 60%;
    padding: 10px;
    font-size: 13px;
   
}
.form i {
    position: absolute;
    top: 34px;
    right: 200px;
} */





/* .container {
    max-width: 900px;
    margin: 0px auto;
    display: block;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
#header {
    width: 100%;
    min-height: 100vh;
    background: url(img/amthuchue.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header::before {
    position: relative;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);

}
header input {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0.3;
    z-index: 2;
    cursor: pointer;
    position: fixed;
}
.container-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    display: block;
    align-items: center;
    justify-content: center;
}

.container-line {
    height: 40px;
    width: 100%;
    background: cornflowerblue;
    position: absolute;
}

 */
